.card-image {
  position: relative;
  height: 500px;
  background-position: center;
  background-size: cover;
  margin: 8px;
  padding: 0 12px 12px 12px;
  display: flex;
  align-items: flex-end;

  &:hover {
    .card-image__content {
      height: 240px;
    }
    .card-image__description p {
      opacity: 1;
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, $color-primary, rgba($black, 0.5) 60%);
  }
  &__content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-color: lightgray;
    height: 80px;
    cursor: pointer;
    transition: height $timing-fast $easing;
  }
  &__title {
    margin: 0;
  }
  &__description {
    flex-grow: 1;
    position: relative;
    p {
      opacity: 0;
      transition: opacity $timing-fast $easing;
      position: absolute;
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    margin: 0;
    color: $color-blue
  }
  &__cta-icon {
    margin-left: 12px;
  }
  &__description {
    margin: 0;
  }

  // ================================
  // React modal overwrite (desktop)
  // ================================
  &__modal {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background-color: papayawhip;
  }
  &__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }
  &__modal-carousel {
    height: 100%;
  }
}
