.card-image {
  position: relative;
  height: 500px;
  margin: 8px;
  // padding: 0 12px 12px 12px;
  display: flex;
  align-items: flex-end;


  &__bg-image-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: transform $timing-fast $easing;
  }
  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba($black, 0.5);
    opacity: 0;
    transition: opacity $timing-fast $easing;
  }
  &__content {
    z-index: 1;
    display: flex;
    position: absolute;

    flex-direction: column;
    width: 100%;
    padding: 32px 24px;
    background-color: $white;
    height: 135px;
    transition: height $timing-fast $easing;
  }
  &__title {
    margin: 0;
    align-self: center;
    text-transform: uppercase;
  }
  &__description-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__description {
    opacity: 0;
    top: 0;
    left: 0;
    transition: all $timing-fast $easing;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    bottom: 28px;
    position: absolute;
    display: flex;
    flex-direction: column;
    button {
      align-self: center;
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    margin: 0;
  }
  &__cta-icon {
    margin-left: 12px;
  }
  &__cta--mobile {
    margin-top: 20px;
  }
  @media (min-width: $md) {
    &:hover {
      .card-image__content {
        height: 240px;
      }
      .card-image__description {
        opacity: 1;
      }
      .card-image__bg-image {
        transform: scale(1.1);
      }
      .card-image__overlay {
        opacity: 1;
      }
    }
    &__content {
      height: 80px;
    }
    &__cta--mobile {
      display: none;
    }
  }

  // ================================
  // React modal overwrite (desktop)
  // ================================
  &__modal {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background-color: papayawhip;
    * {
      height: inherit;
    }
    @media (max-width: $md) {
      left: 10px;
      right: 10px;
    }
  }
  &__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.5);
    backdrop-filter: blur(20px);
  }
  &__modal-carousel {
    height: 100%;
  }
  &__carousel-item {
    height: 100%;
  }
  &__modal-image {
    width: 100%;
    object-fit: cover;
  }
}


